/1ES5+/node_modules/
/webpack/basic/node_modules/
/webpack/advanced/node_modules/
/webpack/server/node_modules/
/webpack/optimize/node_modules/
/multi-platform/cordova/hello-world/node_modules/
/multi-platform/ionic/hello-ionic/node_modules/
/multi-platform/ionic/ionic-startup/node_modules/
/multi-platform/ionic/ionic-cli/node_modules/
/multi-platform/ionic/ionic-res/node_modules/
/multi-platform/ionic/myApp/node_modules/

